@media (max-width: 767px) {
  .nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }

  .float {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin: auto;
    transform: translate(-50%);
  }

  .socialicons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .box1 > h2 {
    font-size: 60px;
  }

  .box0 > img {
    margin: 25px 0px;
  }

  .iframe {
    width: 100%;
  }

  .nav-links {
    padding: 20px 20px;
    width: 100%;
  }
  .menu-btn {
    display: blocks;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-close {
    display: none;
  }

  .gmap {
    width: 100%;
  }
  .email {
    width: 100%;
    border-radius: 1px;
    padding: 8px;
  }
  .anchor {
    text-decoration: none;
    font-weight: 200px;
  }

  .nav-links:hover {
    background-color: gainsboro;
    border-radius: 10px;
  }

  .check:checked + .nav {
    display: flex;
  }

  .container {
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .form {
    width: 80%;
  }

  .dropdown-menu {
    width: 100%;
    position: relative;
    padding: 10px 2px;
    padding-top: 10px;
  }

  .dropdown-menu1 {
    width: 100%;
    top: 10px;
    padding: 10px 2px;
    left: 0;
    position: relative;
    padding-top: 0px;
  }

  .dropdown1 {
    width: 100%;
    position: relative;
  }
  .dropdown {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 1199px) {
  .w-lg {
    width: 33.33%;
  }

  .project-lg {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .w-sm {
    width: 50%;
  }

  .project-l {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .w-s {
    width: 90%;
    /* text-align: center; */
  }

  .gmap {
    width: 90%;
  }

  .form {
    width: 90%;
    padding: 30px 10px;
  }
}
