@media (max-width: 767px) {
  .nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }

  .box1 > h2 {
    font-size: 60px;
  }

  .box0 > img {
    margin: 25px 0px;
  }

  .iframe {
    width: 100%;
  }

  .nav-links {
    padding: 20px 20px;
    width: 100%;
  }
  .menu {
    display: block;
  }

  .gmap {
    width: 100%;
  }
  .email {
    width: 100%;
    border-radius: 1px;
    padding: 8px;
  }
  .anchor {
    text-decoration: none;
    font-weight: 200px;
  }

  .nav-links:hover {
    background-color: gainsboro;
    border-radius: 10px;
  }

  .check:checked + .nav {
    display: flex;
  }

  .container {
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .form {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .w-lg {
    width: 33.33%;
  }
}

@media (max-width: 767px) {
  .w-sm {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .w-s {
    width: 100%;
    /* text-align: center; */
  }
}
